<h1>Chorenivore</h1>
<p>Welcome to Chorenivore! Chorenivore is an easy-to-use web based to-do list application. Dig right in and get your productivity right!</p>
<hr />
<% if @tasks.blank? %>
<%= render 'notask' %>
<% else %>
<%= render 'yestask' %>
<% end %>

