<h1>Chorenivore</h1>
Welcome to Chorenivore! Chorenivore is an easy-to-use web based to-do list application. Dig right in and get your productivity right!
<% if @tasks.blank? %>
<%= render 'notask' %>
<% else %>
<%= render 'yestask' %>
<% end %>

