<h1 id="title">Chorenivore</h1>
<div id="new_chore">
<%= link_to 'Add Another Chore', new_chore_path %>
</div>
<div id="description">
Welcome to Chorenivore! Chorenivore is an easy-to-use web based to-do list application. Dig in and get your productivity right!
</div>

<div id="flash">
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, :id => "flash_#{name}" %>
  <% end %>
</div>

<ul class="tabs" data-tabs="tabs" >
  <li class="active"><a href="#">Monday</a></li>
  <li><a href="#">Tuesday</a></li>
  <li><a href="#">Wednesday</a></li>
  <li><a href="#">Thursday</a></li>
  <li><a href="#">Friday</a></li>
  <li><a href="#">Saturday</a></li>
  <li><a href="#">Sunday</a></li>
</ul>

<!-- <% if @chores.blank? %>
  <%= render 'nochore' %>
<% else %>
  <%= render 'yeschore' %>
<% end %> -->

<script>
  $(function () {
    $('.tabs').tabs()
  })
</script>